<!--este doble {{}} nos ayuda a invocar a un
elemento desde app.components.ts un opraciones de javaScript-->
<!--Ejemplo-->
<!--<h1>{{title}}</h1>
<button (click)='numero = numero + 1'> + 1</button>
Para añadir eventos poneemos entre()
<button (click)='numero = numero -1'> - 1</button>
<span>{{numero}}</span>-->

<!--La mayoria de la logica se hace en TS el Template es mas para HTML
  para hacerlo demanera requerida podemos hacer lo siguiente-->

<!--<h1>{{title}}</h1>
<button (click)='sumar()'> + 1</button>
<span>{{numero}}</span>
<button (click)='restar()'> - 1</button>-->

<app-contador></app-contador>
<!--Estas instancias son reutilisables, incluso el mismo patron pero
con distintos valores-->

<app-heroe></app-heroe>
<br><br>
<p>
    <----------------------------------------------------------------------------------------------------->
</p>

<app-shipment></app-shipment>
<br><br>
<p>
    <----------------------------------------------------------------------------------------------------->
</p>

<app-listado></app-listado>
